resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    nvidia.com/gpu: 1
persistence:
  media:
    enabled: false
volumes:
  - name: mediaserver
    hostPath:
      path: /mnt/media/media/misc
      type: ""
volumeMounts:
  - name: mediaserver
    mountPath: /content
