apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mediaserver
resources:
  - codex
  - kapowarr
  - overseerr
  - plex
  - plex-off-deck
  - prowlarr
  - radarr
  - requestrr
  - sabnzbd
  - sonarr
  - tautulli
  - transmission
  - recommendarr
images:
  - name: thomst08/requestrr
    newTag: v2.1.9
  - name: docker.io/linuxserver/sabnzbd
    newTag: 4.5.5
  - name: docker.io/linuxserver/tautulli
    newTag: 2.16.0
  - name: docker.io/linuxserver/radarr
    newTag: 6.0.4
  - name: ghcr.io/onedr0p/exportarr
    newTag: v2.3.0
  - name: docker.io/linuxserver/plex
    newTag: 1.42.2
  - name: docker.io/linuxserver/overseerr
    newTag: 1.34.0
  - name: docker.io/linuxserver/sonarr
    newTag: 4.0.15
  - name: docker.io/linuxserver/transmission
    newTag: 2021.11.18
  - name: docker.io/linuxserver/prowlarr
    newTag: 2.1.5-develop
  - name: mrcas/kapowarr
    newTag: v1.2.0
  - name: ajslater/codex
    newTag: 1.8.17
  - name: tannermiddleton/recommendarr:latest
    newTag: v1.4.4
