apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage
resources:
  - clusterrole.yaml
  - configmap.yaml
  - deployment.yaml
  - httproute.yaml
  - service.yaml
  - serviceaccount.yaml
images:
  - name: ghcr.io/gethomepage/homepage
    newTag: v1.9.0
