apiVersion: batch/v1
kind: CronJob
metadata:
  name: wallabag-tagger
spec:
  schedule: "0 1 * * *" # Every day at 1am
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: wallabag-tagger
              image: ghcr.io/imdevinc/wallabag-tagger:0.1.0
              imagePullPolicy: IfNotPresent
              args: ["tags"]
              resources:
                requests:
                  cpu: 10m
                  memory: 128Mi
              envFrom:
                - secretRef:
                    name: wallabag-tagger-creds
                - configMapRef:
                    name: wallabag-tagger-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wallabag-tagger-config
data:
  WT_WALLABAG_URL: https://wallabag.imdevinc.com
  WT_OLLAMA_URL: https://ollama.int.imdevinc.com
  WT_OLLAMA_MODEL: granite3.3:8b
