---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: overseerr
  labels:
    app: overseerr
    app.kubernetes.io/name: overseerr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: overseerr
      app.kubernetes.io/name: overseerr
  template:
    metadata:
      labels:
        app: overseerr
        app.kubernetes.io/name: overseerr
    spec:
      initContainers:
        - name: config-overseerr
          image: docker.io/busybox:stable
          command: ["/init-overseerr/init-overseerr.sh"]
          volumeMounts:
            - mountPath: /init-overseerr
              name: init-files-overseerr
            - name: mediaserver-volume
              mountPath: /overseerr-config
              subPath: "config/overseerr"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
      containers:
        - name: overseerr
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
          image: "docker.io/linuxserver/overseerr:1.34.0"
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 5055
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
          ports:
            - name: overseerr-port
              containerPort: 5055
              protocol: TCP
          volumeMounts:
            - name: mediaserver-volume
              mountPath: /config
              subPath: "config/overseerr"
      volumes:
        - name: mediaserver-volume
          hostPath:
            path: /mnt/media
        - name: init-files-overseerr
          configMap:
            defaultMode: 493
            name: init-overseerr-cm
