clusterDomain: int.imdevinc.com
#podLabels:
#  app.kubernetes.io/name: openwebui
resources:
  requests:
    cpu: 10m
    memory: 1024Mi
pipelines:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
ollama:
  enabled: false
  ollamaUrls:
    - http://ollama.ollama:11434
tika:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 384Mi
websocket:
  enabled: true
  url: redis://redis-master.redis:6379
  redis:
    enabled: false
persistence:
  storageClass: hostpath-csi
  existingClaim: open-webui-hp
extraEnvVars:
  - name: ENABLE_OAUTH_SIGNUP
    value: "true"
  - name: OAUTH_MERGE_ACCOUNTS_BY_EMAIL
    value: "true"
  - name: OAUTH_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: oauth-details
        key: client-id
  - name: OAUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: oauth-details
        key: client-secret
  - name: OPENID_PROVIDER_URL
    value: https://login.int.imdevinc.com/.well-known/openid-configuration
  - name: OAUTH_PROVIDER_NAME
    value: Pocket
  - name: OPENID_REDIRECT_URI
    value: https://chatgpt.int.imdevinc.com/oauth/oidc/callback
  - name: OAUTH_SCOPES
    value: openid email profile groups
  - name: DEFAULT_USER_ROLE
    value: user
  - name: OAUTH_ROLE_MANAGEMENT
    value: "true"
  - name: OAUTH_ALLOWED_ROLES
    value: "OpenwebUI Users,OpenwebUI Admins"
  - name: OAUTH_ADMIN_ROLES
    value: "OpenwebUI Admins"
  - name: OAUTH_ROLES_CLAIM
    value: groups
  - name: CHAT_STREAM_RESPONSE_CHUNK_MAX_BUFFER_SIZE
    value: "20971520"
volumes:
  - name: gcp-token
    secret:
      secretName: oauth-details
volumeMounts:
  container:
    - name: gcp-token
      mountPath: /app/backend/token.json
      subPath: gcp-token.json
