apiVersion: apps/v1
kind: Deployment
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  replicas: 1
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      containers:
        - name: esphome
          image: ghcr.io/esphome/esphome
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 6052
              protocol: TCP
            - name: api
              containerPort: 6053
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: config
          securityContext:
            privileged: true
      volumes:
        - hostPath:
            path: /mnt/media/config/esphome
          name: config
---
apiVersion: v1
kind: Service
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  ports:
    - port: 6052
      targetPort: 6052
      protocol: TCP
      name: http
    - port: 6053
      targetPort: 6053
      protocol: TCP
      name: api
  selector:
    app: esphome
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: esphome
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
  hostnames:
    - esphome.int.imdevinc.com
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: esphome
          namespace: homeassistant
          port: 6052
