metrics:
  enabled: true
  serviceMonitor:
    bearerTokenSecret:
      name: homeassistant-metrics-token
      key: token
resources:
  requests:
    cpu: 20m
    memory: 1408Mi
persistence:
  config:
    enabled: true
    type: hostPath
    mountPath: /config
    hostPath: /mnt/media/config/homeassistant
ingress:
  main:
    enabled: false
    annotations:
      external-dns.alpha.kubernetes.io/ingress-hostname-source: annotation-only
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.org/proxy-read-timeout: "3600"
      nginx.org/proxy-send-timeout: "3600"
      nginx.org/websocket-services: homeassistant-home-assistant
      acme.cert-manager.io/http01-edit-in-place: "true"
    ingressClassName: nginx
    tls:
      - hosts:
        - homeassistant.imdevinc.com
        secretName: homeassistant-tls
    hosts:
      - host: homeassistant.imdevinc.com
        paths:
          - path: /
            service:
              name: homeassistant-home-assistant
              port: 8123
