apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: traefik-crds
    releaseName: traefik-crds
    namespace: traefik
    repo: https://traefik.github.io/charts
    version: 1.13.0
  - name: traefik
    releaseName: traefik
    namespace: traefik
    repo: https://traefik.github.io/charts
    version: 38.0.2
    valuesFile: values.yaml
namespace: traefik
resources:
  - middleware.yaml
