globalArguments:
  - "--api.insecure"
logs:
  general:
    format: json
    level: INFO
providers:
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true
gateway:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-traefik
  listeners:
    web:
      hostname: "*.int.imdevinc.com"
      namespacePolicy:
        from: All
      forwardedHeaders:
        insecure: true
    websecure:
      hostname: "*.int.imdevinc.com"
      port: 8443
      namespacePolicy:
        from: All
      protocol: HTTPS
      certificateRefs:
        - name: wildcard-tls
      forwardedHeaders:
        insecure: true
service:
  spec:
    externalTrafficPolicy: Local
ports:
  websecure:
    middlewares:
      - traefik-ipallowlist@kubernetescrd
  web:
    redirections:
      entryPoint:
        scheme: https
        to: websecure
experimental:
  plugins:
    traefik-oidc-auth:
      moduleName: "github.com/sevensolutions/traefik-oidc-auth"
      version: "v0.11.0"
    traefik-umami-plugin:
      moduleName: github.com/1cedsoda/traefik-umami-plugin
      version: v1.0.2
    k8s-secret-header:
      moduleName: github.com/ImDevinC/traefik-k8s-secret-header
      version: v1.0.0
metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      enabled: true
