createAdminSecret: false
clusterSize: 1
persistentVolume:
  enabled: true
  storageClass: hostpath-csi
resources:
  requests:
    cpu: 20m
    memory: 256Mi
couchdbConfig:
  couchdb:
    single_node: true
    uuid: obsidian-livesync
    max_document_size: 50000000
  chttpd:
    bind_address: any
    require_valid_user: true
    enable_cors: true
    max_http_request_size: 4294967296
  chttpd_auth:
    require_valid_user: true
    authentication_redirect: "/e=_/_utils/session.html"
  httpd:
    WWW-Authenticate: 'Basic realm="couchdb"'
    enable_cors: true
  cors:
    origins: app://obsidian.md,capacitor://localhost,http://localhost
    credentials: true
    headers: accept, authorization, content-type, origin, referer
    methods: GET, PUT, POST, HEAD, DELETE
    max_age: 3600
  log:
    writer: stderr
    level: debug
