loki:
  volume_enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 512Mi
promtail:
  resources:
    requests:
      cpu: 60m
      memory: 384Mi
  config:
    snippets:
      pipelineStages:
        - cri: {}
        - match:
            selector: '{app="cloudflared"}'
            stages:
              - regex:
                  expression: '"X-Forwarded-For":\["(?P<ip>\S*?)"]'
              - geoip:
                  db: /maxmind/GeoLite2-City.mmdb
                  source: ip
                  db_type: city
  extraVolumeMounts:
    - name: maxmind
      mountPath: /maxmind/
      readonly: true
  extraVolumes:
    - name: maxmind
      hostPath:
        path: /mnt/media/config/maxmind
