apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: argo-cd
    releaseName: argo-cd
    namespace: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.3.7
    valuesFile: values.yaml
namespace: argo-cd
resources:
  - creds.yaml
  - httproute.yaml
  - sealed.yaml
