apiVersion: v1
data:
  settings.json: |
    {
      "Authentication": {
        "Username": "",
        "Password": "",
        "PrivateKey": "1d06dcec-4534-45f8-b9a0-b222288d5b61"
      },
      "ChatClients": {
        "Discord": {
          "BotToken": "",
          "ClientId": "",
          "StatusMessage": "/help",
          "TvShowRoles": [],
          "MovieRoles": [],
          "MonitoredChannels": [],
          "EnableRequestsThroughDirectMessages": false,
          "AutomaticallyNotifyRequesters": true,
          "NotificationMode": "PrivateMessages",
          "NotificationChannels": [],
          "AutomaticallyPurgeCommandMessages": true
        },
        "Language": "english"
      },
      "DownloadClients": {
        "Ombi": {
          "Hostname": "",
          "Port": 3579,
          "ApiKey": "",
          "ApiUsername": "",
          "BaseUrl": "",
          "UseSSL": false,
          "Version": "3"
        },
        "Overseerr": {
          "Hostname": "",
          "Port": 5055,
          "ApiKey": "",
          "Movies": {
            "DefaultApiUserID": "",
            "Categories": []
          },
          "TvShows": {
            "DefaultApiUserID": "",
            "Categories": []
          },
          "UseSSL": false,
          "Version": "1"
        },
        "Radarr": {
          "Hostname": "",
          "Port": 7878,
          "ApiKey": "",
          "BaseUrl": "",
          "Categories": [
            {
              "Id": 0,
              "Name": "movie",
              "ProfileId": "1",
              "RootFolder": "",
              "MinimumAvailability": "announced",
              "Tags": []
            }
          ],
          "SearchNewRequests": true,
          "MonitorNewRequests": true,
          "UseSSL": false,
          "Version": "3"
        },
        "Sonarr": {
          "Hostname": "",
          "Port": 8989,
          "ApiKey": "",
          "BaseUrl": "",
          "Categories": [
            {
              "Id": 0,
              "Name": "tv",
              "ProfileId": "1",
              "RootFolder": "",
              "Tags": [],
              "LanguageId": "1",
              "UseSeasonFolders": true,
              "SeriesType": "standard"
            }
          ],
          "SearchNewRequests": true,
          "MonitorNewRequests": true,
          "UseSSL": false,
          "Version": "3"
        }
      },
      "BotClient": {
        "Client": ""
      },
      "Movies": {
        "Client": "Disabled"
      },
      "TvShows": {
        "Client": "Disabled",
        "Restrictions": "None"
      },
      "Port": 4545,
      "BaseUrl": "/requestrr",
      "DisableAuthentication": false,
      "Version": "2.1.0"
    }
  init-requestrr.sh: |
    #!/bin/sh
    echo "### Initializing config"
    if [ ! -f /requestrr-config/settings.json ]; then
      cp -n /init-requestrr/settings.json /requestrr-config/settings.json
      echo "### No configuration found, intialized with default settings ###"
    fi
kind: ConfigMap
metadata:
  name: init-requestrr-cm
