apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  labels:
    app: prowlarr
    app.kubernetes.io/name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
      app.kubernetes.io/name: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
        app.kubernetes.io/name: prowlarr
    spec:
      initContainers:
        - name: config-prowlarr
          image: docker.io/busybox:stable
          command: ["/init-prowlarr/init-prowlarr.sh"]
          volumeMounts:
            - mountPath: /init-prowlarr
              name: init-files-prowlarr
            - name: mediaserver-volume
              mountPath: /prowlarr-config
              subPath: "config/prowlarr"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
      containers:
        - name: prowlarr
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
          image: "docker.io/linuxserver/prowlarr:2.3.2-develop"
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 9696
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
          ports:
            - name: prowlarr-port
              containerPort: 9696
              protocol: TCP
          volumeMounts:
            - name: mediaserver-volume
              mountPath: "/config"
              subPath: "config/prowlarr"
      volumes:
        - name: mediaserver-volume
          hostPath:
            path: /mnt/media
        - name: init-files-prowlarr
          configMap:
            defaultMode: 493
            name: init-prowlarr-cm
