apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n
resources:
  - deployment.yaml
  - pvc.yaml
  - sealed.yaml
  - service.yaml
  - httproute.yaml
images:
  - name: n8nio/n8n
    newName: ghcr.io/imdevinc/n8n
    newTag: 0.1.0
