apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    service: job-ops-data
  name: job-ops-data
  namespace: job-ops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
