priorityClassName: important
config:
  enableGatewayAPI: true
installCRDs: true
extraArgs:
  - --dns01-recursive-nameservers=1.1.1.1:53,9.9.9.9:53
  - --dns01-recursive-nameservers-only
podDnsPolicy: None
podDnsConfig:
  nameservers:
    - "1.1.1.1"
    - "9.9.9.9"
resources:
  requests:
    cpu: 10m
    memory: 256Mi
webhook:
  priorityClassName: important
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
cainjector:
  priorityClassName: important
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
global:
  logLevel: 5
  leaderElection:
    namespace: cert-manager
prometheus:
  enabled: true
  servicemonitor:
    enabled: true
