apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrutiny-config
  namespace: scrutiny
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrutiny-influxdb
  namespace: scrutiny
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
