apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: success-rate
spec:
  args:
    - name: service
  metrics:
    - name: success-rate
      interval: 10s
      successCondition: result[0] > 0.90
      provider:
        prometheus:
          address: http://prometheus-operated.monitoring:9090
          query: >+
            sum(
              rate(traefik_service_requests_total{code!~"[4-5].*", exported_service="{{args.service}}"}[5m]))
              /
              sum(rate(traefik_service_requests_total{exported_service="{{args.service}}"}[5m])
            )
