apiVersion: apps/v1
kind: Deployment
metadata:
  name: kapowarr
  labels:
    app: kapowarr
    app.kubernetes.io/name: kapowarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kapowarr
      app.kubernetes.io/name: kapowarr
  template:
    metadata:
      labels:
        app: kapowarr
        app.kubernetes.io/name: kapowarr
    spec:
      initContainers:
      containers:
        - name: kapowarr
          image: mrcas/kapowarr:v1.2.0
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 5656
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
          ports:
            - name: http
              containerPort: 5656
              protocol: TCP
          volumeMounts:
            - name: mediaserver-volume
              mountPath: "/app/db"
              subPath: "config/kapowarr"
            - name: mediaserver-volume
              mountPath: "/app/temp_downloads"
              subPath: "downloads"
            - name: mediaserver-volume
              mountPath: "/comics-1"
              subPath: "media/comics"
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"

      volumes:
        - name: mediaserver-volume
          hostPath:
            path: /mnt/media
